{
	"arrowParens": "avoid",
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,

	"importOrder": ["dotenv/config", "<THIRD_PARTY_MODULES>", "^[./]"],
	"importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true
}
